# Ignore environment files
.env

# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore system files and directories
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
ntuser.*
